@import './common.scss';

.main {
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    background-color: $makerWhite;

    h2 {
      color: $makerGreen;
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      margin: 2rem 1rem;
    }

    .editor {
      flex-basis: 50%;
      border-right: 1px solid $makerLightGrey;
      height: 100%;
      padding: 1rem;

      .cardFormList {
        .cardForm {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          margin-bottom: 1rem;
          background: $makerWhite;
          border-right: 1px solid $makerBlack;
          border-bottom: 1px solid $makerBlack;

          .input,
          .select,
          .textarea,
          .fileInput {
            font-size: 0.8rem;
            padding: 0.5em;
            border: 0;
            border-top: 1px solid $makerBlack;
            border-left: 1px solid $makerBlack;
          }
          .input,
          .select {
            flex: 1 1 30%;
          }
          .textarea {
            flex-basis: 100%;
          }
          .fileInput,
          .button {
            flex: 1 1 50%;
          }
        }
      }
    }
    .preview {
      flex-basis: 50%;
      height: 100%;
      padding: 1rem;

      .cardList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
          display: flex;
          width: 90%;
          max-width: 30rem;
          margin-bottom: 1rem;
          border-radius: 1rem;
          padding: 2rem;
          box-shadow: 6px 6px 8px 0px $makerShadow;

          .avatar {
            width: 10rem;
            height: 10rem;
            margin-right: 1rem;
            border-radius: 50%;
          }
          .infoBox {
            flex-grow: 1;
          }
          .name {
            font-size: 1.25rem;
            font-weight: 800;
            margin: 0.5rem 0;
          }
          .company::after {
            content: '.';
            display: block;
            height: 1px;
            width: 100%;
            margin: 0.5rem 0;
            background-color: $makerWhite;
          }
          p {
            margin: 0.5rem 0;
          }
        }
        .card.dark {
          background-color: $makerBlack;
          color: $makerWhite;
        }
        .card.light {
          background-color: $makerWhite;
          color: $makerBlack;
          .company::after {
            background-color: $makerBlack;
          }
        }
        .card.colorful {
          background: $makerColorful;
          color: $makerBlack;
          .company::after {
            background-color: $makerBlack;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mediaQuery) {
    .content {
      flex-direction: column;

      .editor {
        border-right: none;
        border-bottom: 1px solid $makerLightGrey;
      }
    }
  }
}
